[package]
name = "cap-std-workspace"
version = "0.7.0"
description = "Capability-oriented version of the Rust standard library"
authors = [
    "Dan Gohman <dev@sunfishcode.online>",
    "Jakub Konka <kubkon@jakubkonka.com>",
]
license = "Apache-2.0 WITH LLVM-exception OR Apache-2.0 OR MIT"
keywords = ["std", "api", "network", "file"]
categories = ["filesystem", "network-programming"]
repository = "https://github.com/bytecodealliance/cap-std"
edition = "2018"
readme = "README.md"
publish = false

[dev-dependencies]
async-std = { version = "1.8.0", features = ["attributes"] }
anyhow = "1.0.35"
cap-async-std = { path = "cap-async-std", version = "^0.7.0"}
cap-fs-ext = { path = "cap-fs-ext", version = "^0.7.0"}
cap-directories = { path = "cap-directories", version = "^0.7.0"}
cap-std = { path = "cap-std", version = "^0.7.0"}
cap-tempfile = { path = "cap-tempfile", version = "^0.7.0"}
rand = "0.7.3"
tempfile = "3.1.0"

[target.'cfg(not(windows))'.dev-dependencies]
libc = "0.2.81"

[target.'cfg(windows)'.dev-dependencies]
# nt_version uses internal Windows APIs, however we're only using it
# for testing here.
nt_version = "0.1.3"
winapi = "0.3.9"
winx = "0.21.0"

[features]
# "nightly" is required when building with Rust nightly, and it enables
# support for `FileTypeExt`, `MetadataExt`, and full `OpenOptionsExt`.
default = []
nightly = ["cap-std/nightly", "cap-async-std/nightly", "cap-fs-ext/nightly"]
fs_utf8 = ["cap-std/fs_utf8", "cap-async-std/fs_utf8"]

[badges]
maintenance = { status = "actively-developed" }

[workspace]
members = [
  "cap-async-std",
  "cap-fs-ext",
  "cap-directories",
  "cap-primitives",
  "cap-rand",
  "cap-std",
  "cap-tempfile",
  "cap-time-ext",
  # Work around https://github.com/rust-lang/cargo/issues/8338.
  #"fuzz",
]
