[package]
name = "cap-std"
version = "0.0.0"
description = "Capability-based version of the Rust standard library"
authors = ["Dan Gohman <sunfish@mozilla.com>"]
license = "Apache-2.0 WITH LLVM-exception"
keywords = ["std", "api", "network", "file"]
categories = ["filesystem", "network-programming"]
edition = "2018"
readme = "README.md"

[dependencies]
ipnet = "2.3.0"
cfg-if = "0.1.9"
arf-strings = { version = "0.1.2", optional = true }

[target.'cfg(unix)'.dependencies]
yanix = "0.18.0"

[target.'cfg(target_os = "wasi")'.dependencies]
yanix = "0.18.0"

[target.'cfg(target_os = "fuchsia")'.dependencies]
yanix = "0.18.0"

[target.'cfg(windows)'.dependencies]
winx = "0.18.0"

[dev-dependencies]
rand = "0.7.3"

[badges]
maintenance = { status = "actively-developed" }

[features]
default = []
fs_utf8 = ["arf-strings"]
