[package]
name = "cap-std"
version = "0.0.0"
description = "Capability-based version of the Rust standard library"
authors = ["Dan Gohman <sunfish@mozilla.com>"]
license = "Apache-2.0 WITH LLVM-exception OR Apache-2.0 OR MIT"
keywords = ["std", "api", "network", "file"]
categories = ["filesystem", "network-programming"]
repository = "https://github.com/sunfishcode/cap-std"
edition = "2018"
readme = "README.md"

[dependencies]
ipnet = "2.3.0"
cfg-if = "0.1.9"
arf-strings = { version = "0.1.2", optional = true }
cap-primitives = { path = "cap-primitives", version = "0.0.0" }

[target.'cfg(unix)'.dependencies]
yanix = "0.18.0"
libc = "0.2.71"

[target.'cfg(target_os = "wasi")'.dependencies]
yanix = "0.18.0"
libc = "0.2.71"

[target.'cfg(target_os = "fuchsia")'.dependencies]
yanix = "0.18.0"
libc = "0.2.71"

[target.'cfg(windows)'.dependencies]
winx = "0.18.0"
winapi = { version = "0.3.9", features = ["winbase"] }

[dev-dependencies]
rand = "0.7.3"
uuid = { version = "0.8", features = ["v4"] }

[badges]
maintenance = { status = "actively-developed" }

[features]
default = []
fs_utf8 = ["arf-strings"]

[workspace]
members = [
  "cap-primitives",
  "cap-async-std",
  "fuzz",
]
