[package]
name = "cap-std"
version = "0.0.0"
description = "Capability-oriented version of the Rust standard library"
authors = ["Dan Gohman <sunfish@mozilla.com>", "Jakub Konka <kubkon@jakubkonka.com>"]
license = "Apache-2.0 WITH LLVM-exception OR Apache-2.0 OR MIT"
keywords = ["std", "api", "network", "file"]
categories = ["filesystem", "network-programming"]
repository = "https://github.com/sunfishcode/cap-std"
edition = "2018"
readme = "README.md"

[dependencies]
arf-strings = { version = "0.1.2", optional = true }
cap-primitives = { path = "cap-primitives", version = "^0.1.0", default-features = false }

[target.'cfg(unix)'.dependencies]
yanix = "0.19.0"

[target.'cfg(target_os = "wasi")'.dependencies]
yanix = "0.19.0"

[target.'cfg(target_os = "fuchsia")'.dependencies]
yanix = "0.19.0"

[dev-dependencies]
anyhow = "1.0.32"
cap-directories = { path = "cap-directories", version = "0.0.0" }
cap-tempfile = { path = "cap-tempfile", version = "0.0.0" }
cfg-if = "0.1.9"
tempfile = "3.1.0"
rand = "0.7.3"

[target.'cfg(not(windows))'.dev-dependencies]
libc = "0.2.72"

[target.'cfg(windows)'.dev-dependencies]
winx = "0.19.0"
winapi = { version = "0.3.9", features = [
    "std",
    "errhandlingapi",
    "handleapi",
    "processthreadsapi",
    "profileapi",
    "securitybaseapi",
    "winbase",
    "winerror",
    "ws2def",
    "fileapi",
    "aclapi",
    "winioctl"
] }

[badges]
maintenance = { status = "actively-developed" }

[features]
default = ["no_racy_asserts"]
fs_utf8 = ["arf-strings"]
no_racy_asserts = ["cap-primitives/no_racy_asserts"]

[workspace]
members = [
  "cap-async-std",
  "cap-directories",
  "cap-primitives",
  "cap-tempfile",
  # Work around https://github.com/rust-lang/cargo/issues/8338.
  #"fuzz",
]
