[package]
name = "cap-tempfile"
version = "0.1.0"
description = "Capability-oriented temporary directories"
authors = ["Dan Gohman <sunfish@mozilla.com>", "Jakub Konka <kubkon@jakubkonka.com>"]
license = "Apache-2.0 WITH LLVM-exception OR Apache-2.0 OR MIT"
keywords = ["filesystem", "tmpfile", "tempfile"]
categories = ["filesystem"]
repository = "https://github.com/sunfishcode/cap-std"
edition = "2018"
readme = "README.md"

[dependencies]
cap-std = { path = "../cap-std", version = "^0.1.0"}
uuid = { version = "0.8.1", features = ["v4"] }

[badges]
maintenance = { status = "actively-developed" }
