[package]
name = "cap-tempfile"
version = "0.10.1-alpha.0"
description = "Capability-oriented temporary directories"
authors = [
    "Dan Gohman <dev@sunfishcode.online>",
    "Jakub Konka <kubkon@jakubkonka.com>",
]
license = "Apache-2.0 WITH LLVM-exception OR Apache-2.0 OR MIT"
keywords = ["filesystem", "tmpfile", "tempfile"]
categories = ["filesystem"]
repository = "https://github.com/bytecodealliance/cap-std"
edition = "2018"
readme = "README.md"

[dependencies]
cap-std = { path = "../cap-std", version = "^0.11.0"}
uuid = { version = "0.8.1", features = ["v4"] }

[target.'cfg(target_os = "emscripten")'.dependencies]
rand = "0.8.1"

[dev-dependencies]
winapi = "0.3.9"

[badges]
maintenance = { status = "actively-developed" }
