[package]
name = "cap-tempfile"
version = "0.18.1"
description = "Capability-based temporary directories"
authors = [
    "Dan Gohman <dev@sunfishcode.online>",
    "Jakub Konka <kubkon@jakubkonka.com>",
]
license = "Apache-2.0 WITH LLVM-exception OR Apache-2.0 OR MIT"
keywords = ["filesystem", "tmpfile", "tempfile"]
categories = ["filesystem"]
repository = "https://github.com/bytecodealliance/cap-std"
edition = "2018"

[dependencies]
cap-std = { path = "../cap-std", version = "^0.18.1-alpha.0"}
uuid = { version = "0.8.1", features = ["v4"] }
camino = { version = "1.0.5", optional = true }

[target.'cfg(target_os = "emscripten")'.dependencies]
rand = "0.8.1"

[target.'cfg(windows)'.dev-dependencies]
winapi = "0.3.9"

[features]
default = []
fs_utf8 = ["cap-std/fs_utf8", "camino"]

[badges]
maintenance = { status = "actively-developed" }
