[package]
name = "cap-std"
version = "0.13.6"
description = "Capability-oriented version of the Rust standard library"
authors = [
    "Dan Gohman <dev@sunfishcode.online>",
    "Jakub Konka <kubkon@jakubkonka.com>",
]
license = "Apache-2.0 WITH LLVM-exception OR Apache-2.0 OR MIT"
keywords = ["std", "api", "network", "file"]
categories = ["filesystem", "network-programming"]
repository = "https://github.com/bytecodealliance/cap-std"
edition = "2018"
readme = "README.md"

[build-dependencies]
rustc_version = "0.3.0"

[dependencies]
arf-strings = { version = "0.3.0", optional = true }
cap-primitives = { path = "../cap-primitives", version = "^0.13.5"}
unsafe-io = "0.5.1"

[target.'cfg(not(windows))'.dependencies]
posish = "0.5.12"

[features]
default = []
fs_utf8 = ["arf-strings"]

[badges]
maintenance = { status = "actively-developed" }
