[package]
name = "cap-directories"
version = "0.20.1-alpha.0"
description = "Capability-based standard directories for config, cache and other data"
authors = [
    "Dan Gohman <dev@sunfishcode.online>",
    "Jakub Konka <kubkon@jakubkonka.com>",
]
license = "Apache-2.0 WITH LLVM-exception OR Apache-2.0 OR MIT"
keywords = ["app_dirs", "path", "folder", "xdg", "basedir"]
categories = ["filesystem"]
repository = "https://github.com/bytecodealliance/cap-std"
edition = "2018"

[dependencies]
cap-std = { path = "../cap-std", version = "^0.20.1-alpha.0"}
directories-next = "2.0.0"

[target.'cfg(not(windows))'.dependencies]
rustix = "0.26.0"

[target.'cfg(windows)'.dependencies]
winapi = "0.3.9"
