[package]
name = "cap-time-ext"
version = "0.15.4"
description = "Extension traits for `SystemClock` and `MonotonicClock`"
authors = [
    "Dan Gohman <dev@sunfishcode.online>",
    "Jakub Konka <kubkon@jakubkonka.com>",
]
license = "Apache-2.0 WITH LLVM-exception OR Apache-2.0 OR MIT"
keywords = ["time"]
categories = ["date-and-time"]
repository = "https://github.com/bytecodealliance/cap-std"
edition = "2018"

[dependencies]
cap-primitives = { path = "../cap-primitives", version = "^0.15.3-alpha.0"}
cap-std = { path = "../cap-std", optional = true, version = "^0.15.3-alpha.0"}

[target.'cfg(not(windows))'.dependencies]
posish = "0.15.4"

[target.'cfg(windows)'.dependencies]
once_cell = "1.5.2"
winx = "0.27.0"

[badges]
maintenance = { status = "actively-developed" }
