[package]
name = "cap-primitives"
version = "0.0.0"
description = "Capability-based primitives"
authors = ["Dan Gohman <sunfish@mozilla.com>"]
license = "Apache-2.0 WITH LLVM-exception"
keywords = ["api", "network", "file"]
categories = ["filesystem", "network-programming"]
repository = "https://github.com/sunfishcode/cap-std"
edition = "2018"
readme = "README.md"

[dependencies]
ipnet = "2.3.0"
cfg-if = "0.1.9"

[target.'cfg(unix)'.dependencies]
yanix = "0.18.0"
libc = "0.2.71"

[target.'cfg(target_os = "wasi")'.dependencies]
yanix = "0.18.0"
libc = "0.2.71"

[target.'cfg(target_os = "fuchsia")'.dependencies]
yanix = "0.18.0"
libc = "0.2.71"

[target.'cfg(windows)'.dependencies]
winx = "0.18.0"
winapi = { version = "^0.3", features = [
    "std",
    "errhandlingapi",
    "handleapi",
    "processthreadsapi",
    "profileapi",
    "securitybaseapi",
    "winbase",
    "winerror",
    "ws2def",
    "fileapi",
    "aclapi"
] }

[badges]
maintenance = { status = "actively-developed" }
