[package]
name = "cap-primitives"
version = "0.13.7-alpha.0"
description = "Capability-oriented primitives"
authors = [
    "Dan Gohman <dev@sunfishcode.online>",
    "Jakub Konka <kubkon@jakubkonka.com>",
]
license = "Apache-2.0 WITH LLVM-exception OR Apache-2.0 OR MIT"
keywords = ["api", "network", "file"]
categories = ["filesystem", "network-programming"]
repository = "https://github.com/bytecodealliance/cap-std"
edition = "2018"
readme = "README.md"

[build-dependencies]
rustc_version = "0.3.0"

[dependencies]
arbitrary = { version = "1.0.0", optional = true, features = ["derive"] }
ipnet = "2.3.0"
maybe-owned = "0.3.4"
fs-set-times = "0.3.0"
unsafe-io = "0.6.0"

[target.'cfg(not(windows))'.dependencies]
posish = "0.6.0"
libc = "0.2.81"

[target.'cfg(any(target_os = "android", target_os = "linux"))'.dependencies]
once_cell = "1.4.1"

[target.'cfg(target_os = "macos")'.dependencies]
errno = "0.2.7"

[target.'cfg(target_os = "ios")'.dependencies]
errno = "0.2.7"

[target.'cfg(windows)'.dependencies]
winx = "0.23.0"
winapi = { version = "0.3.9", features = [
    "ioapiset",
    "winioctl"
] }
winapi-util = "0.1.5"

[badges]
maintenance = { status = "actively-developed" }
