[package]
name = "cap-primitives"
version = "0.0.0"
description = "Capability-based primitives"
authors = ["Dan Gohman <sunfish@mozilla.com>"]
license = "Apache-2.0 WITH LLVM-exception"
keywords = ["api", "network", "file"]
categories = ["filesystem", "network-programming"]
edition = "2018"
readme = "README.md"

[dependencies]
ipnet = "2.3.0"
cfg-if = "0.1.9"

[target.'cfg(unix)'.dependencies]
yanix = "0.18.0"
libc = "0.2.71"

[target.'cfg(target_os = "wasi")'.dependencies]
yanix = "0.18.0"
libc = "0.2.71"

[target.'cfg(target_os = "fuchsia")'.dependencies]
yanix = "0.18.0"
libc = "0.2.71"

[target.'cfg(target_os = "linux")'.dependencies]
lazy_static = "1.4.0"

[target.'cfg(windows)'.dependencies]
winx = "0.18.0"

[badges]
maintenance = { status = "actively-developed" }
