[package]
name = "cap-primitives"
version = "0.2.1-alpha.0"
description = "Capability-oriented primitives"
authors = [
    "Dan Gohman <dev@sunfishcode.online>",
    "Jakub Konka <kubkon@jakubkonka.com>",
]
license = "Apache-2.0 WITH LLVM-exception OR Apache-2.0 OR MIT"
keywords = ["api", "network", "file"]
categories = ["filesystem", "network-programming"]
repository = "https://github.com/sunfishcode/cap-std"
edition = "2018"
readme = "README.md"

[dependencies]
arbitrary = { version = "0.4.5", optional = true, features = ["derive"] }
ipnet = "2.3.0"
fs-set-times = { git = "https://github.com/sunfishcode/fs-set-times", branch = "main" }

[target.'cfg(not(windows))'.dependencies]
posish = { git = "https://github.com/sunfishcode/posish", branch = "main" }
libc = "0.2.77"

[target.'cfg(target_os = "linux")'.dependencies]
lazy_static = "1.4.0"

[target.'cfg(target_os = "macos")'.dependencies]
errno = "0.2.6"

[target.'cfg(target_os = "ios")'.dependencies]
errno = "0.2.6"

[target.'cfg(windows)'.dependencies]
winx = "0.19.0"
winapi = { version = "0.3.9", features = [
    "ioapiset",
    "winioctl"
] }

[features]
default = ["windows_security_qos_flags"]
nightly = ["windows_by_handle", "windows_file_type_ext"]
windows_by_handle = [] # https://github.com/rust-lang/rust/issues/63010
windows_file_type_ext = []
windows_security_qos_flags = [] # https://github.com/rust-lang/rust/pull/74074

[badges]
maintenance = { status = "actively-developed" }
