[package]
name = "cap-primitives"
version = "0.18.0"
description = "Capability-based primitives"
authors = [
    "Dan Gohman <dev@sunfishcode.online>",
    "Jakub Konka <kubkon@jakubkonka.com>",
]
license = "Apache-2.0 WITH LLVM-exception OR Apache-2.0 OR MIT"
keywords = ["api", "network", "file"]
categories = ["filesystem", "network-programming"]
repository = "https://github.com/bytecodealliance/cap-std"
edition = "2018"

[build-dependencies]
rustc_version = "0.4.0"

[dependencies]
ambient-authority = "0.0.1"
arbitrary = { version = "1.0.0", optional = true, features = ["derive"] }
ipnet = "2.3.0"
maybe-owned = "0.3.4"
fs-set-times = "0.9.0"
unsafe-io = "0.9.1"
io-lifetimes = { version = "0.3.0", default-features = false }

[target.'cfg(not(windows))'.dependencies]
rsix = "0.20.0"

[target.'cfg(any(target_os = "android", target_os = "linux"))'.dependencies]
once_cell = "1.4.1"

[target.'cfg(target_os = "macos")'.dependencies]
errno = "0.2.7"

[target.'cfg(target_os = "ios")'.dependencies]
errno = "0.2.7"

[target.'cfg(windows)'.dependencies]
winx = "0.29.0"
winapi = "0.3.9"
winapi-util = "0.1.5"

[badges]
maintenance = { status = "actively-developed" }
