[package]
name = "cap-primitives"
version = "0.0.0"
description = "Capability-oriented primitives"
authors = ["Dan Gohman <sunfish@mozilla.com>", "Jakub Konka <kubkon@jakubkonka.com>"]
license = "Apache-2.0 WITH LLVM-exception OR Apache-2.0 OR MIT"
keywords = ["api", "network", "file"]
categories = ["filesystem", "network-programming"]
repository = "https://github.com/sunfishcode/cap-std"
edition = "2018"
readme = "README.md"

[dependencies]
arbitrary = { version = "0.4.5", optional = true, features = ["derive"] }
cfg-if = "0.1.9"
ipnet = "2.3.0"

[target.'cfg(not(windows))'.dependencies]
yanix = "0.19.0"
libc = "0.2.72"

[target.'cfg(windows)'.dependencies]
winx = "0.19.0"
winapi = { version = "0.3.9", features = [
    "std",
    "errhandlingapi",
    "handleapi",
    "processthreadsapi",
    "profileapi",
    "securitybaseapi",
    "winbase",
    "winerror",
    "ws2def",
    "fileapi",
    "aclapi"
] }

[features]
default = ["no_racy_asserts"]
no_racy_asserts = []

[badges]
maintenance = { status = "actively-developed" }
