name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  rustfmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
      with:
        submodules: true
    - name: Install Rust
      run: |
        rustup update stable
        rustup default stable
        rustup component add rustfmt
    - name: Cargo fmt
      run: cargo fmt --all -- --check

  build:
    name: Build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        build: [stable, beta, nightly, windows, macos]
        include:
          - build: stable
            os: ubuntu-latest
            rust: stable
          - build: beta
            os: ubuntu-latest
            rust: beta
          - build: nightly
            os: ubuntu-latest
            rust: nightly
          - build: macos
            os: macos-latest
            rust: stable
          # Enable once we figure out how to build stable on Windows
          # - build: windows
          #   os: windows-latest
          #   rust: stable
          - build: windows
            os: windows-latest
            rust: nightly

    steps:
    - uses: actions/checkout@v1
      with:
        submodules: true
    steps:
    - uses: ./.github/actions/install-rust
      with:
        toolchain: ${{ matrix.rust }}
    - name: Build
      run: cargo build --all --all-features --release -vv

  test:
    name: Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        build: [stable, beta, nightly, windows, macos]
        include:
          - build: stable
            os: ubuntu-latest
            rust: stable
          - build: beta
            os: ubuntu-latest
            rust: beta
          - build: nightly
            os: ubuntu-latest
            rust: nightly
          - build: macos
            os: macos-latest
            rust: stable
          # Enable once we figure out how to build stable on Windows,
          # tests build and run
          # - build: windows
          #   os: windows-latest
          #   rust: stable
          # - build: windows
          #   os: windows-latest
          #   rust: nightly

    steps:
    - uses: actions/checkout@v1
      with:
        submodules: true
    steps:
    - uses: ./.github/actions/install-rust
      with:
        toolchain: ${{ matrix.rust }}
    - name: Test
      run: cargo test --all-features --all

